<!DOCTYPE html>

<html>
    <head>
        <title>{{t}}</title>
        <script src="{{ url_for('static',filename='/app.js')}}"></script>
    </head>
    <body>
        <form action="/create", method="POST">
            <table>
                <tr>
                    <td>
                        <label>Textbox for Create/Update:</label>
                        <input  id="task" name="task1" type="text" placeholder="Add new / update here" size="20">
                    </td>
                    <td>
                        <button type="submit">Create</button>
                    </td>
                </tr>
            </table>

        </form>
        <h2>{{h}}</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Task</th>
                <th></th>
            </tr>
            {%if todo[0]%} {#checking if item is in list#}
            {% for x in todo %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{x.task}}</td>
                    <td>
                        <button id="{{x._id}}" onclick="updateItem(event)">Update</button>
                        <a href="./delete?_id={{x._id}}"><button>Delete</button></a>
                    </td>
                </tr>
            {% endfor %}
            {%endif%}
        </table>


    </body>
</html>